
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function ()
    {
        //$.get("GetString", null, function (data)
        //{
        //    alert(data);
        //})
        $("#b1").click(function () {
            let n = $("#txtname").val();
            $.get("Greet", { name: n }, function (data)
            {
                // alert(data)
                $("span").text(data);
            })
        });
    })
</script>
<h2>Index</h2>
<div class="container">
    Enter Name @Html.TextBox("txtname")
   <button id="b1">Greet</button>
    <span class="text-info"></span>
</div>
