@model HandsOnMVCUsingModels.Models.Product
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Show</title>
</head>
<body>
	<div>
		<pre>
	Id:@Model.Id
	Name:@Model.Name
	Description:@Model.Description
	Price:@Model.Price
</pre>
	</div>
</body>
</html>
