
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
@Styles.Render("~/Content/css")
<script>
    $(document).ready(function ()
    {
        $.get("GetAll", null, function (data)
        {
            $.each(data, function (i, v)
            {
               // alert("hi")
                let row='<tr><td>'+v.Eid+'</td><td>'+v.Ename+'</td><td>'+v.Desig+'</td><td>'+v.JoinDate+'</td><td>'+v.Sal+'</td></tr>'
                $("#table1").append(row)
            })
        })
    })
</script>
<h2>Index</h2>
<div class="container">
    <table id="table1" class="table">
        <thead>
            <tr>
                <th>Eid</th><th>Ename</th><th>Desig</th><th>JoinDate</th><th>Salary</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
