
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>ViewData Demo</h1>
        <h1>@ViewData["key"]</h1>
        <h2>Hello,@ViewData["en"]</h2>
    </div>
</body>
</html>
